
/* ============================================== GENERAL STYLES ===================================================== */


/* ============================================ END GENERAL STYLES =================================================== */



/* ============================================== GRID STYLES ===================================================== */

.grid-item{
    flex-grow: 1;
    flex-shrink: 1;
    background-color: lightgray;
}

#container{
    display: flex;
    width: 900px;
    height: 600px;
    gap: 2px;
    flex-wrap: wrap;
}

/* ============================================ END GRID STYLES =================================================== */